@model LifeSureProject.ViewModel.CombinedSocialData
@using LifeSureProject.App_GlobalResources

<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
<!-- Topbar Start -->
<div class="container-fluid topbar px-0 px-lg-4 bg-light py-2 d-none d-lg-block">
    <div class="container">
        <div class="row gx-0 align-items-center">
            <div class="col-lg-8 text-center text-lg-start mb-lg-0">
                <div class="d-flex flex-wrap">
                    <div class="border-end border-primary pe-3">
                        <a href="#" class="text-muted small"><i class="fas fa-map-marker-alt text-primary me-2"></i>@Resources.Resource.FindLocation</a>
                    </div>
                    <div class="ps-3">
                        <a href="mailto:example@gmail.com" class="text-muted small"><i class="fas fa-envelope text-primary me-2"></i>lifesure@lifesure.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-flex justify-content-end">
                    <div class="d-flex border-end border-primary pe-3">
                        <a class="btn p-0 text-primary me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn p-0 text-primary me-3" title="Takipçi Sayısı:@Model.Twitter.UsersCount" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn p-0 text-primary me-3" title="Takipçi Sayısı:@Model.Instagram.UsersCount" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="btn p-0 text-primary me-0" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>                    
                    <div class="dropdown ms-3">
                        <a href="#" class="dropdown-toggle text-dark" data-bs-toggle="dropdown"><small><i class="fas fa-globe-europe text-primary me-2"></i> @Resources.Resource.Language</small></a>
                        <div class="dropdown-menu rounded">
                            <a href="/Language/Change?lang=tr">Türkçe</a> |
                            <a href="/Language/Change?lang=en">English</a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar & Hero Start -->
<div class="container-fluid nav-bar px-0 px-lg-4 py-lg-0">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="#" class="navbar-brand p-0">
                <h1 class="text-primary mb-0"><i class="fab fa-slack me-2"></i> LifeSure</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-0 mx-lg-auto">
                    <a href="index.html" class="nav-item nav-link active">@Resources.Resource.Home</a>
                    <a href="about.html" class="nav-item nav-link">@Resources.Resource.About</a>
                    <a href="service.html" class="nav-item nav-link">@Resources.Resource.Services</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-bs-toggle="dropdown">
                            <span class="dropdown-toggle">@Resources.Resource.Pages</span>
                        </a>
                        <div class="dropdown-menu">
                            <a href="feature.html" class="dropdown-item">@Resources.Resource.OurFeatures</a>
                            <a href="team.html" class="dropdown-item">@Resources.Resource.Team</a>
                            <a href="testimonial.html" class="dropdown-item">@Resources.Resource.Testimonial</a>
                            <a href="FAQ.html" class="dropdown-item">@Resources.Resource.FAQ</a>
                            <a href="404.html" class="dropdown-item">@Resources.Resource.Page404</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">@Resources.Resource.Contact</a>
                    <div class="nav-btn px-3">
                        <button class="btn-search btn btn-primary btn-md-square rounded-circle flex-shrink-0" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search"></i></button>
                        <a href="#" class="btn btn-primary rounded-pill py-2 px-4 ms-3 flex-shrink-0">@Resources.Resource.GetQuote</a>
                    </div>
                </div>
            </div>
            <div class="d-none d-xl-flex flex-shrink-0 ps-4">
                <a href="#" class="btn btn-light btn-lg-square rounded-circle position-relative wow tada" data-wow-delay=".9s">
                    <i class="fa fa-phone-alt fa-2x"></i>
                    <div class="position-absolute" style="top: 7px; right: 12px;">
                        <span><i class="fa fa-comment-dots text-secondary"></i></span>
                    </div>
                </a>
                <div class="d-flex flex-column ms-3">
                    <span>@Resources.Resource.CalltoOurExperts</span>
                    <a href="tel:+ 0123 456 7890"><span class="text-dark">@Resources.Resource.Free: + 0123 456 7890</span></a>
                </div>
            </div>
        </nav>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Navbar & Hero End -->