
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    @Html.Action("HeadPartialDefault", "Layout")

<body>

    @Html.Action("TopbarNavbarPartialDefault", "TopbarNavbar")

    @Html.Action("ModalSearchPartialDefault", "ModalSearch")

    @Html.Action("CarouselPartialDefault", "Carousel")

    @Html.Action("FeaturePartialDefault", "Feature")

    @Html.Action("AboutPartialDefault", "About")
    
    @Html.Action("ServicePartialDefault", "Service")
    
    @Html.Action("FAQPartialDefault", "FAQ")
    
    @Html.Action("TeamPartialDefault", "Team")
    
    @Html.Action("TestimonialPartialDefault", "Testimonial")
    
    @Html.Action("FooterPartialDefault", "Footer")

    @Html.Action("CopyrightPartialDefault", "Copyright")
  
   
    <!-- Back to Top -->

    @Html.Action("ScriptPartialDefault", "Layout")

</body>

</html>